.logo {
    width: 1200px;

  }
  
  header {
    display: flex;
    justify-content: center;
    background: #6e78b7;
  }
  
  .header img {
    width: 55px;
  
  }

  .loginBlock {
    float: right;

  }

  .loginBlock a{
    color: #d9f1ff;
  }