.nav {

  background-color: rgb(249, 213, 73);
}

.nav a{
  text-decoration: none;
  color: black;
}

a.activeLink {
  color: white;
}

.friendsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "a a a"
   "s s s";
}


.friends {
  grid-area: a;
}

.friendsShow {
  grid-area: s;

}
