.nav {
  grid-area: n;
  background-color: #deeafb;
}

.nav a{
  text-decoration: none;
  color: black;
}

a.activeLink {
  color: gold;
}

.friendsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "a a a"
   "s s s";
}


.friends {
  grid-area: a;
}

.friendsShow {
  grid-area: s;

}
